    #map{ height: 100% }
    #picture { width: 100% }
  .info { 
    padding: 10px 10px; 
    font: 14px/16px Arial, Helvetica, sans-serif; 
    background: white; 
    background: rgba(255,255,255,0.8); 
    box-shadow: 0 0 15px rgba(0,0,0,0.6); 
    border-radius: 8px; 
  } 
  .info h4 { 
    margin: 0 0 5px; 
    color: #777; 
  }
  .legend { 
    text-align: left; 
    line-height: 20px; 
    color: #555; 
  } 
  .legend i {
      width: 16px;
      height: 16px;
      float: left;
      margin-right: 8px;
      opacity: 0.8;
  }